* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1d1a1a;
}

section {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: auto;
}

h1 {
    color: #ececec;
    margin: 35px auto;
    font-size: 2.5rem;
}

ul {
    width: 100%;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}